@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(../images/personal-fitness-trainer.jpg) no-repeat center center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    font-size: 120%;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline black;
}

li a:active{
    color: red;
    text-decoration: underline red;
}

ul {
    list-style: none;
}

nav {
    background-color: aquamarine;
    width: 100%; 
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0
}

nav > a{
    float: right;
    margin-right: 20px;
    line-height: 50px;
}

.button {
    background-color: green;
    color: white;
    z-index: 1;
    text-align: center;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin-top: 25px;
}

.button:hover{
    background-color: orangered;
}

#logo {
    clear: both;
    float: left;
    font-size: 200%;
    margin-left: 20px;
    margin-right: 150px;
}

#menu li {
    float: left;
    margin-right: 75px;
    list-style: none;
}

#special-offer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 33%;
    border-radius: 10px;
    margin: 300px 0px 200px 100px;
    padding: 50px;
}
#special-offer h2{
    font-size: 300%;
    padding-bottom: 30px;
}

#special-offer p{
    text-align: center;
}

#motivation {
    background: rgba(255, 255, 255, 0.6);
    overflow: auto;
    color: black;
    margin-top: 100px;
    padding: 50px;
}

#motivation > p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.why-us {
    width: 20%;
    display: inline-block;
    margin: 50px;
    vertical-align: top;
    text-align: center;
}

#why-us-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.train-with-us {
    height: 600px;
    width: 100%;
    background-color: blue;
}

.image-container img {
    width: 600px;
    height: auto;

}

.right {
    float: right;
}

.left {
    float: left;
}

#spinning-class {
    float: left;
}

#workout-class {
    float: right;
}

footer {
    clear: both;
    background-color: aquamarine;
    height: 150px;
    width: 100%;
    padding-top: 20px;
}

.footer-content {
    float: left;
    width: 33.3%;
    text-align: center;
    border-left: 5px black solid;
    box-sizing:border-box;
}

#social-media i {
    font-size: 25px;

}

#social-media li {
    display: inline;
    margin: 0 auto;
    word-spacing: 25px;
}
