@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    font-size: 120%;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline black;
}

li a:active{
    color: red;
    text-decoration: underline red;
}

ul {
    list-style: none;
}

nav {
    background-color: aquamarine;
    width: 100%; 
    line-height: 100px;
    position: fixed;
    top: 0
}

nav #signup{
    float: right;
    margin-right: 20px;
    line-height: 50px;
}

.button {
    background-color: green;
    color: white;
    z-index: 1;
    text-align: center;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    margin-top: 25px;
}

.button:hover{
    background-color: orangered;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 20px;
    margin-right: 150px;
}

#menu li {
    float: left;
    margin-right: 75px;
    list-style: none;
}

#special-offer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 33%;
    border-radius: 10px;
    margin: 300px 0px 200px 100px;
    padding: 50px;
}
#special-offer h2{
    font-size: 300%;
    padding-bottom: 30px;
}

#special-offer p{
    text-align: center;
}

#motivation {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), 
    url(../images/personal-fitness-trainer.jpg) no-repeat cover;
    overflow: auto;
    color: black;
    margin-top: 100px;
    padding: 50px;
}

#motivation > p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

#why-us-container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.why-us {
    width: 20%;
    display: inline-block;
    margin: 50px;
    vertical-align: top;
}

.why-us i {
    font-size: 400%;
}

.train-with-us {
    height: 500px;
    width: 100%;
    background-color:rgb(158, 158, 158);
}

.train-with-us h2 {
    font-size: 200%;
    padding-bottom: 20px;
}

.image-container img {
    width: auto;
    height: 400px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#spinning-class .text-content{
    float: left;
}

#workout-class .text-content{
    float: right;
}

.train-with-us div{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.train-with-us .text-content {
    padding: 75px;
}

footer {
    clear: both;
    background-color: aquamarine;
    height: 150px;
    width: 100%;
    padding-top: 20px;
}

.footer-content {
    float: left;
    width: 33.3%;
    text-align: center;
    border-left: 5px black solid;
    box-sizing:border-box;
}

#social-media i {
    font-size: 25px;

}

#social-media li {
    display: inline;
    margin: 0 auto;
    word-spacing: 25px;
}
